# path:   /home/klassiker/.local/share/repos/ironos-flasher/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/ironos-flasher
# date:   2025-08-13T03:25:12+0200

/firmware/
/images/img2ts100.py
