# path:   /home/klassiker/.local/share/repos/ironos-flasher/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/ironos-flasher
# date:   2024-10-08T08:06:53+0200

/firmware/
/images/img2ts100.py
