# path:   /home/klassiker/.local/share/repos/ironos-flasher/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/ironos-flasher
# date:   2021-11-02T18:16:09+0100

/firmware/
/logos/img2ts100.py
